<div class="movies-index">
  <%= @movies.each do |movie|%>
    <div class="row">
      <div class="col-md-12">
        <div class="post">
          <div class="post-content">
            <h3><%= movie.title %></h3>
            <small>Posted by <%= movie.user.email %> on <%= time_ago_in_words(movie.created_at) %></small>
            <p><%= movie.description %></p>
            <a class="btn btn-success btn-sm" href="">Like</a><a class="btn btn-danger btn-sm" href="">Dislike</a>
          </div>
        </div>
      </div>
    </div>
    <%end%>
</div>
